@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #202142;
    color: #fff;
    line-height: 1.6;
}

ul {
    list-style: none;
}

.container {
    max-width: 768px;
    margin: auto;
    padding: 0 20px;
}

.header {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    background-color: #171832;
}

.card {
    background-color: #fff;
    color: #333;
    border-radius: 15px;
    padding: 40px 50px;
    margin: 20px 0;
    position: relative;
}

.card.reverse {
    background-color: rgba(0,0,0,0.4);
    color: #fff;
}

.card h2 {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}

.rating {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 30px 0 40px;
}

.rating li,
.num-display {
    position: relative;
    background-color: #f4f4f4;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    font-size: 19px;
    border: 1px solid #eee;
    padding: 10px;
    transition: 0.3s;
}
.rating li {
    cursor: pointer;
}
.rating li input {
    display: none;
}
.rating li label {
    transition: 0.3s;
    color: #202142;
    cursor: inherit;
}
.rating li input:checked ~ label {
    color: #f16969;
}
.rating li:hover label{
    color: #f16969;
}
.num-display {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-30%, -30%);
    background-color: #f16969;
    color: #fff;
}

.close {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}

.feedback_stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;
}
.input_group {
    margin: 20px auto 0 auto;
    max-width: 400px;
    width: 100%;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid grey;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input_group input {
    font-family: inherit;
    outline: none;
    border: none;
    width: 70%;
}

.btn {
    font-family: inherit;
    color: #fff;
    border: 0;
    border-radius: 8px;
    width: 100px;
    height: 40px;
    cursor: pointer;
}
.btn_primary {
    background-color: #202142;
}
.btn:disabled {
    background-color: grey;
}
.btn_secondary {
    background-color: #ff6a95;
}
.btn:hover {
    transform: scale(0.98);
    opacity: 0.9;
}

.message {
    position: absolute;
    bottom: 14px;
    color: #f16969;
    font-size: 13px;
}

.about_link {
    position: absolute;
    right: 30px;
    bottom: 30px;
}